.tab{
    overflow: hidden;
    border: 1px solid #cccccc;
    background-color: #F1F1F1;
    display: block;
    float: left;
    width: 100px;
}

.tab button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100px;
    padding: 14px 16px;
    transition: 0.3s
}

.tab button:hover{
    background-color: #dddddd;
}

.tab button.active{
    background-color: #cccccc;
}

.tabcontent{
    display: none;
    padding: 6px 12px;
    border:  1px solid #cccccc;
    border-top: none; 
}
.form{
    
     margin: 0px 0px 0px 110px;
     line-height: 180%;
     word-spacing: 5px;
     
} 
.table{
    margin: 0px 0px 0px 110px;
}
.table th {
   padding-right: 50px;
   
}